/* @import "tailwindcss"; */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
  font-family: "Britti";
  src: local("Britti"),
    url(./assets/fonts/BrittiSans/BrittiSans-Regular.otf) format("otf");
}

body {
  font-family: Britti, sans-serif;
}

* {
  transition: all ease 0.3s;
}

.bi {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}